.collapse-content {
    width:65%;
    left:0px;
    position:relative;
    margin:10px 50px;
    border:solid;
    border-color:transparent;
    border-radius:5px;
}



.collapse {
    background: #fff;
}

    .collapse a {
        display: block;
        font-size: 40px;
        font-weight: 500;
        padding: 0.9rem 1.8rem;
        color: #fff;
        position: relative;
        height:50px;
        text-align:left;

    }

        .collapse a.cpu {
            background: rgb(48, 45, 45);
        }

        .collapse a.mainboard {
            background: rgb(128, 128, 128);
        }

        .collapse a.ram {
            background: rgb(48, 45, 45);
        }

        .collapse a.gpu {
            background: rgb(128, 128, 128);
        }

        .collapse a.powersup {
            background: rgb(48, 45, 45);
        }

        .collapse a.disc {
            background: rgb(128, 128, 128);
        }
        .collapse a img{
            height:50px;
            position:relative;
            margin:auto;
        }

        .collapse a:before {
            content: "";
            border-top: 7px solid #fff;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            top: 25px;
            right: 30px;
        }

.inner-content {
    min-height:100px;
    padding: 0 0 0 0;
}

.content {
    max-height: 0em;
    transition: 0.5s linear 0s;
    overflow: hidden;
}

.collapse + .collapse a {
    top: 0px;
    left: 0px;
}



.collapse:target .content {
    max-height: 450px;
}

.collapse:target a:before {
    transform: rotate(-90deg);
}

@media (max-width: 768px) {
    .collapse-content {
        width: auto;
        margin: auto;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

@media (max-width: 425px) {
    body {
        line-height: 1.3;
    }

    .collapse-content {
        width: 80vw;
    }

    .inner-content {
        padding: 1.2rem;
    }

        .inner-content h3 {
            margin-bottom: 0.3rem;
        }
}

@media (max-width: 320px) {
    body {
        line-height: 1.3;
    }

    .collapse-content {
        width: 80vw;
    }

    .inner-content {
        padding: 0.8rem;
    }

        .inner-content h3 {
            margin-bottom: 0.3rem;
        }
}
