

body {
    margin:0;
    height:auto;
}

#header {

    z-index:5;
    box-shadow: 10px 10px 66px -4px rgba(0,0,0,0.75);
    width: 100%;
    height: 75px;
    background-color: rgba(0, 40, 58, 1);
    position: relative;
    position: fixed;
}
#headerLogo {
    float: left;
    width: 20%;
    background-color: rgba(0, 130, 189, 1);
    height:75px;
}

.searchInput {
    position: fixed;
    left: 380px;
    top: 10px;
    width: 375px;
    height: 50px;
    font-size: 18px;
    text-align: left;
}

#profile-menu{
    float:right;
    width:20%;
    height:75px;
}
#profile-menu ul{
     list-style:none;
     padding:0; 
     margin:0;
}
#profile-menu ul li{
    position:relative;
}
#profile-menu ul li a{
    display:block;
    color:white;
    background:rgba(0, 130, 189, 1);
    text-decoration:none;
    font: bold 18px arial;
    width:100%;
    height:75px;
    text-align:center;
}

#profile-menu ul ul li a{
    display:block;
    color:white;
    background:crimson;
    text-decoration:none;
    font: bold 18px arial;
    width:100%;
    height:75px;
    text-align:center;
}

#profile-menu ul li a strong {
    position: relative;
    left: -55px;
    top: 30%;
    font-size:x-large;
}
#profile-menu ul ul li a strong {
    position: relative;
    left: -100px;
    top: 30%;
    font-size:x-large;
}

#profile-menu ul li a:hover{
    background: #FFF;
    color:rgba(0, 40, 58, 1);
}

#profile-menu ul ul{
    display:none;
    left:0; top:34px;
}

#profile-menu ul:hover ul{
    display:block;
    box-shadow: 10px 10px 66px -4px rgba(0,0,0,0.75);
}

#sidebarMenu {
   
    box-shadow: 10px 10px 66px -4px rgba(0,0,0,0.75);
    position: fixed;
    float: left;
    height: 100%;
    width: 20%;
    background-color: rgba(0, 40, 58, 1);
}
#menu{
    width:100%;
    height:250px;
    margin:0 0 0 0;
}
#menu ul{
    margin:0;
    padding:0;
    list-style:none;
}

#menu ul li a{
    display:block;
    width:100%;
    height:50px;
    background:rgba(0, 40, 58, 1);
    color:#FFF;
    font:bold 12px arial;
    text-decoration:none;
}
#menu ul li a:hover{
    background-color:#FFF;
    color:rgba(0, 40, 58, 1);
}

#menu ul li a strong{
    position: relative;
    left: 25px;
    top: 30%;
    font-size:large;
}

.page {
    text-align:center;
    padding-top:15px;
    float:right;
    height: auto;
    width: 80%;
    background-color:white;
    margin-bottom:45px;
}
#body{
    padding-top:75px;
}
#footer {
    text-align: center;
    color: white;
    font-size:smaller;
    font-family: Arial;
    z-index: 0;
    position: fixed;
    left: 0px;
    bottom:0px;
    height: 65px;
    width: 20%;
    background-color: black;
}
#footer h2 a{
    color:white; 
    text-decoration-line:none;
}
#footer h2 a:hover{
    color: crimson;
}
#slider{
    width:100%;
    height:500px;
}

/*ANA SAYFA ÜRÜNLERİ*/
.mainPageProducts{
    margin:40px 10px 10px 10px;
    position:relative;
    bottom:45px;
    left:65px;
    width:88%;
    height:auto;
}
.mainPageProductSection {
    float: left;
    width: 100%;
    margin: 20px 20px 20px 20px;
    border-color:rgba(0, 40, 58, 1);
    background-color: transparent;
    height: auto;
    border-color:transparent;
}

.mainPageProduct {
    transition-duration: 500ms;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    float: left;
    border: solid;
    border-radius: 4px;
    width: 100%;
    border-color: rgba(0, 40, 58, 1);
    border-width: 1px;
    background-color: transparent;
    height: auto;
    min-height:350px;

}
.mainPageProductBrand {
    position: relative;
}
.mainPageProductName {
    position: relative;
    height:auto;
    font-size:19px;
    font-weight:100;
}

.mainPageProduct:hover{
    transition-duration:500ms;
    border-radius:12px;
    box-shadow: 0px 7px 34px -1px rgba(0,0,0,0.55);
}

.mainPageProductImage {
    width: 50%;
    max-width:100%;
    height:50%;
    position:relative;

}

.mainPageProductButton {
    float: right;
    width: 20%;
    border-radius: 35px;
    border-style: solid;
    border-color: white;
    height:50px;
    font-size: 18px;
    color:white;
    margin: 15px;
    font-family: Arial;
    font-weight: bold;
    background-color:rgba(0, 130, 189, 1);
}

.mainPageProductButton:hover{
    transition-duration:250ms;
    border-color:rgba(0, 130, 189, 1);
}

.mainPageDataList>tbody>tr>td{
    width:300px;
    height:auto;
    display:block;
}
.mainPageDataList>tbody>tr{
    float:left;
}
.mainPageDataList > tbody {
    position:relative;
}

.mainPageProductCategory {
    float: left;
    background-color: rgb(224, 118, 16);
    color: white;
    padding: 10px;
}
/*ANA SAYFA ÜRÜNLERİ SON*/

/*ÜRÜNLER SAYFASI ÜRÜNLERİ*/

.categoryContainer {
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border: solid;
    border-color: rgba(0, 130, 189, 1);
    border-left: none;
    border-right: none;
}

.category_item {
    float: left;
    width: 14.2859%;
    background-color: white;
    padding: 20px 0;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 130, 189, 1);
}

    .category_item:hover {
        transition-duration: 250ms;
        background-color: rgba(0, 130, 189, 1);
        color: white;
    }


.productPageProducts {
    margin: 40px 10px 10px 10px;
    position: relative;
    bottom: 45px;
    left: 65px;
    width: 88%;
    height: auto;
}

.productPageProductSection {
    float: left;
    width: 100%;
    margin: 20px 20px 20px 20px;
    border-color: rgba(0, 40, 58, 1);
    background-color: transparent;
    height: auto;
    border-color: transparent;
}

.productPageProduct {
    transition-duration: 500ms;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    float: left;
    border: solid;
    border-radius: 4px;
    width: 100%;
    border-color: rgba(0, 40, 58, 1);
    border-width: 1px;
    background-color: transparent;
    height: auto;
    min-height:350px;
}

.productPageProductBrand {
    position: relative;
}

.productPageProductName {
    position: relative;
    height: auto;
    font-size: 19px;
    font-weight: 100;
}

.productPageProduct:hover {
    transition-duration: 500ms;
    border-radius: 12px;
    box-shadow: 0px 7px 34px -1px rgba(0,0,0,0.55);
}

.productPageProductImage {
    width: 50%;
    max-width: 100%;
    height: 50%;
    position: relative;
}

.productPageProductButton {
    float: right;
    width: 20%;
    border-radius: 35px;
    border-style: solid;
    border-color: white;
    height: 50px;
    font-size: 18px;
    color: white;
    margin: 15px;
    font-family: Arial;
    font-weight: bold;
    background-color: rgba(0, 130, 189, 1);
}

.productPageProductButton:hover {
    transition-duration: 250ms;
    border-color: rgba(0, 130, 189, 1);
}

.productPageDataList > tbody > tr > td {
    width: 300px;
    height: auto;
    display: block;
}

.productPageDataList > tbody > tr {
    float: left;
}

.productPageDataList > tbody {
    position: relative;
}

.productPageProductCategory {
    float: left;
    background-color: rgb(224, 118, 16);
    color: white;
    padding: 10px;
}
/*ÜRÜNLER SAYFASI ÜRÜNLERİ SON*/


/*HAKKIMIZDA SAYFASI*/
.aboutUsSection {
    text-align: center;
    margin: 0 25px 0 25px;
}

.aboutUsText{
    width:auto;
    max-width:1100px;
}
.aboutUsHead{
    font-size:22px;
    font-weight:bold;
}
/*HAKKIMIZDA SAYFASI SON*/

/*İLETİŞİM SAYFASI*/
.contactSection {
    padding-top: 25px;
    width: 860px;
    position: relative;
    margin: auto;
    display: block;
}
.contactSections {
    width: 100%;
    text-align:left;
}
.contactLabels{
    font-family:Arial;
    font-weight:bold;
    font-size:18px;
    width:20%;
    position:relative;
    left:0px;
}
.contactTB {
    height:25px;
    position: relative;
    border-radius: 5px;
    right: 0px;
    width: 70%;
    float:right;
}
.contactMessageTB{
    height:400px;
    width:70%;
    
}
.contactButton {
    margin-top:15px;
    height: 50px;
    float: right;
    border-radius: 35px;
    border-style: solid;
    border-color: white;
    font-size: 18px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    background-color: rgba(0, 130, 189, 1);
}

.contactButton:hover{
    transition-duration:250ms;
    border-color:rgba(0, 130, 189, 1);
}
/*İLETİŞİM SAYFASI SON*/




/*PC BUİLD SAYFASI*/
.productTable {
    min-height:75px;
    width:100%;
    border: medium solid transparent;
}
.productTable input{
    transform: scale(2);
    float:left;
    margin:15px;
}
.productTable label {
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-left:15px;
}
.productTable td{
    background-color:rgb(159, 159, 159);
    min-height :50px;
    height:auto;
    max-height:100px;
}
.cpus {
    overflow-y: auto;
    max-height: 250px;
}
.mainboards {
    overflow-y: auto;
    max-height: 250px;
}
.rams {
    overflow-y: auto;
    max-height: 250px;
}
.gpus {
    overflow-y: auto;
    max-height: 250px;
}
.powersups {
    overflow-y: auto;
    max-height: 250px;
}
.discs {
    overflow-y: auto;
    max-height: 250px;
}

.sepetPanel {
    box-shadow: 0px 7px 34px -1px rgba(0,0,0,0.55);
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
    height: auto;
    min-height: 400px;
    position: fixed;
    top: 100px;
    right: 30px;
    width: 20%;
}

.sepetPanel>span{
    padding: 10px 0 10px 0;
    font:bold 24px arial;
    color:white;
}
.sepetProPanel{
    background-color:rgb(159, 159, 159);
    height:50px;
}
.sepetPro{
    position:relative;
    margin:auto;
}
.sepetProCB{
    cursor:pointer;
    height:25px;
    width:25px;
    border:solid;
    border-color:transparent;
    border-radius:15px;
    background-color:red;
    color:white;
    font-weight:bold;
}
.sepetProName{
    font-size:18px;
    font-weight:bold;
    color:aliceblue;
}
/*PC BUİLD SAYFASI SON*/

.response {
    transition-duration: 550ms;
    position: absolute;
    right: 35px;
    bottom: 0px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-family: arial;
    font-size: 18px;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    width: auto;
    height: 25px;
}

/*LOGIN VE SIGNUP SAYFASI */
.login {
    position: fixed;
    top: 75px;
    left: 35%;
    margin: auto;
    width: 400px;
    height: 500px;
    box-shadow: 0px 7px 34px -1px rgba(0,0,0,0.55);
    background-color: rgba(0, 40, 58, 1);
    border: solid;
    border-color: transparent;
    border-radius: 15px;
}
.loginLogo {
    position: absolute;
    background-color: rgba(0, 40, 58, 1);
    width: 80%;
    top:0px;
    left: 10%;
    margin: auto;
}

.loginLBL {
    text-decoration:underline;
    width: 70%;
    height: 50px;
    position: relative;
    top: 150px;
    left: 13%;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color:white;
}

.loginTB{
    border-radius:10px;
    border-color:transparent;
    width:70%;
    height:50px;
    position:relative;
    top:150px;
    left:13%;
    margin:10px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
}
.createAccountLBL {
    width: 70%;
    height: 50px;
    position: relative;
    top: 180px;
    left: 15.5%;
    font-weight:bold;
    font-size:18px;
    color:white;
}
.createAccountLBL:hover{
    transition-duration: 500ms;
    color:rgba(0, 130, 189, 1);
    cursor:pointer;
}


.loginBTN {
    width: 25%;
    height: 50px;
    position: relative;
    top: 160px;
    right:13.5%;
    float:right;
    color:rgba(0, 40, 58, 1);
    font-size:18px;
    font-weight:bold;
    border-radius:15px;
    border-color:transparent;
}
.loginBTN:hover{
    transition-duration: 500ms;
    cursor:pointer;
    color:white;
    background-color:darkgreen;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}




.signUpLBL {
    text-decoration:underline;
    width: 70%;
    height: 50px;
    position: relative;
    top: 65px;
    left: 13%;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.signUpTB {
    border-radius: 10px;
    border-color: transparent;
    width: 70%;
    height: 50px;
    position: relative;
    top: 65px;
    top: 64px;
    left: 13%;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.loginAccountLBL {
    width: 70%;
    height: 50px;
    position: relative;
    top: 85px;
    left: 14.5%;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.loginAccountLBL:hover {
    transition-duration: 500ms;
    color:rgb(8, 200, 33);
    cursor: pointer;
}


.signUpBTN {
    width: 25%;
    height: 50px;
    position: relative;
    top: 70px;
    right: 14.5%;
    float: right;
    color: rgba(0, 40, 58, 1);
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    border-color: transparent;
}

.signUpBTN:hover {
    transition-duration: 500ms;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 130, 189, 1);
}

.control{
    position:absolute;
    right:14%;
    height:auto;
    top:33%;
    width:25%;
}

.username{
    position:relative;
    top:21px;
    font-size:22px;
    margin:auto;
    left:-50px;
}

.templogout{
    visibility:hidden;
}
.logoutBTN {
    visibility:visible;
    position: absolute;
    border: none;
    font-weight: bold;
    background-color:rgba(0, 130, 189, 1);
    color: white;
    width: 25%;
    font-size: 30px;
    height: 100%;
    right: 0px;
    cursor:pointer;
}
.logoutBTN:hover{
    background-color:rgb(255, 0, 0);
}
.adminPaneliYazisi{
    background-color:rgba(0, 130, 189, 1);
    position:absolute;
    width:20%;
    text-align:center;
    color:white;
    display:block;
    font-weight:bold;
    font-size:28px;
    height:75px;
    margin-top:-37.5px;
    top:50%;
    vertical-align:middle;
}
/*LOGIN VE SIGNUP SAYFASI SON*/

.adminSayfaBasligi {
    font-size:22px;
}


/*ADMİN KULLANICILAR(DEFAULT) SAYFASI*/
.usersGeneralPanel{
    height:440px;
    display:block;
    padding: 5px;
    max-height:440px;
}
.usersPanel {
    height: 100%;
    width: 60%;
    position: relative;
    left: 0px;
    float: left;
    overflow-y: auto;
}
.userRow{
    border-radius:10px;
    background-color:rgba(0, 130, 189, 1);
    color:white;
    float:left;
    width:100%;
    height:auto;
    border-bottom:solid;
    border-top:solid;
    border-color:white;
    border-width:1px;
}
.userButton {
    height: 100%;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
    float: left;
    border: solid;
    border-color: transparent;
    color:white;
    background-color: rgba(0, 40, 58, 1);
    cursor: pointer;
}
.userButton:hover{
    transition-duration:200ms;
    background-color:white;
    color: rgba(0, 40, 58, 1);
}
.userID {
    height: 100%;
    width: 20%;
    font-size: 18px;
    float:left;
}
.userName {
    height: 100%;
    width: 30%;
    font-size: 18px;
    float:left;
}
.userSaveDate {
    height: 100%;
    width: 30%;
    float: left;
    font-size: 18px;
}
.usersDataList{
    width:100%;
}



.usersEditPanel {
    height: 100%;
    width: 38%;
    float: right;
    position: relative;
    right: 0px;
}
.editLabel{
    float:left;
    height:25px;
    font-weight:bold;
}
.editTB {
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    margin: 1px;
    width: 70%;
    height: 25px;
    float: right;
}
.editTBB {
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-radius:4px;
    width: 45%;
    height: 25px;
    float: right;
}
.editTBBBTN {
    font-size:18px;
    width: 30%;
    height: 30px;
    float: right;
    font-weight:bold;
    border:solid;
    border-color:transparent;
    border-radius:4px;
}
.editTBBBTN:active{
    background-color: rgba(0, 40, 58, 1);
    color: white;
}
.editTBBBTN:hover{
    transition-duration:200ms;
    background-color: white;
    color: rgba(0, 40, 58, 1);
    cursor:pointer;
}
.buttonActive {
    background-color: rgba(0, 40, 58, 1);
    color: white;
}
.editCB {
    width: 70%;
}
.editCB input{
    transform:scale(1.7);
}
.userSaveBTN{
    border-radius:10px;
    border:none;
    height:50px;
    width:200px;
    background-color:darkgreen;
    font-size:20px;
    font-weight:bold;
    color:white;
    cursor:pointer;
}
.userSaveBTN:hover{
    transition-duration:200ms;
    background-color:white;
    color:darkgreen;
}
.userDeleteBTN {
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 200px;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.userDeleteBTN:hover {
    transition-duration: 200ms;
    background-color: white;
    color: rgb(255, 0, 0);
}
/*ADMİN KULLANICILAR(DEFAULT) SAYFASI SON*/



/*ADMİN ÜRÜNLER SAYFASI*/
.productsGeneralPanel{
    display:block;
    padding: 5px;
    max-height:500px;
}
.productsPanel {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0px;
    float: left;
    overflow-y: auto;
    float:left;
}
.productsDataList > tbody > tr{
    float:left;
    width:33.3%;
    height:205px;
}
.productsDataList > tbody > tr > td {
    min-height:250px;
    width:100%;
}
.productPanel {

    text-align:center;
    align-items:center;
    background-color:darkgray;
    height: 200px;
    width: 350px;
    border-radius:15px;
}
.productPanel:hover {
    transition-duration:200ms;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.productButton {
    position: relative;
    right: -115px;
    bottom: -40px;
    background-color:rgba(0, 130, 189, 1);
    color:white;
    font-size:18px;
    font-weight:bold;
    width:100px;
    height:50px;
    border-color:transparent;
    border-radius:15px;
}
.productButton:hover {
    transition-duration: 200ms;
    background-color: white;
    color: rgba(0, 130, 189, 1);
    cursor: pointer;
}
.productID {
    position:relative;
    right:-145px;
    color:white;
    top:8px;
    font-weight:bold;
    font-size:22px;

}
.productBrand {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.productName {
    position: relative;
    color: rgba(0, 40, 58, 1);
    font-weight: bold;
    font-size: 18px;
}
.productsDataList {

}




.usersEditPanel {
    height: 100%;
    width: 38%;
    float: right;
    position: relative;
    right: 0px;
}
.editLabel{
    float:left;
    height:25px;
    font-weight:bold;
}
.editTB {
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    margin: 1px;
    width: 70%;
    height: 25px;
    float: right;
}
.editTBB {
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-radius:4px;
    width: 45%;
    height: 25px;
    float: right;
}
.editTBBBTN {
    font-size:18px;
    width: 30%;
    height: 30px;
    float: right;
    font-weight:bold;
    border:solid;
    border-color:transparent;
    border-radius:4px;
}
.editTBBBTN:active{
    background-color: rgba(0, 40, 58, 1);
    color: white;
}
.editTBBBTN:hover{
    transition-duration:200ms;
    background-color: white;
    color: rgba(0, 40, 58, 1);
    cursor:pointer;
}
.buttonActive {
    background-color: rgba(0, 40, 58, 1);
    color: white;
}
.editCB {
    width: 70%;
}
.editCB input{
    transform:scale(1.7);
}
.userSaveBTN{
    border-radius:10px;
    border:none;
    height:50px;
    width:200px;
    background-color:darkgreen;
    font-size:20px;
    font-weight:bold;
    color:white;
    cursor:pointer;
}
.userSaveBTN:hover{
    transition-duration:200ms;
    background-color:white;
    color:darkgreen;
}
.userDeleteBTN {
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 200px;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.userDeleteBTN:hover {
    transition-duration: 200ms;
    background-color: white;
    color: rgb(255, 0, 0);
}

/*ADMİN ÜRÜNLER SAYFASI SON*/

/*ADMİN ÜÜRN DETAY SAYFASI*/
.prdForm {
    height:490px;
    width:100%;

}
.prdPanel {
    height: 490px;
    width: 100%;
    background-color: aqua;
}
.prdHead {
    height:50px;
    background-color:antiquewhite;
    width:100%
}
.prdHBrand {
    height:100%;
    font:bold 35px arial;
    float:left;
    padding:5px;
}
.prdHName {
    height: 100%;
    font: 100 30px arial;
    float: left;
    padding: 9px;
}
.prdDetails {
    margin:auto;
    width:90%;
    height:auto;
    background-color:blue;
    position:relative;
}
.prdDetails > table{
    position:relative;
    top:25%;
    width:100%;
    border:solid;
}
tr{
    height:40px;
    width:auto;
    border:solid;
}
tr > td:first-child {
    height:auto;
    width:30%;
    border:solid;
}
.prdLabels {
    font-weight:bold;
    float:left;
    width:100%;
    height:100%;
    font-size:20px;
    background-color:brown;
}
.prdDetail {
    font-weight: bold;
    width:100%;
    height:23px;
    font-size:20px;
    
}
.prdBTN{
    margin:5px 5px 0px 5px;
    height:35px;
    border:solid;
    font-size:18px;
    font-weight:bold;
    border-radius:15px;
    border-color:transparent;
    cursor:pointer;
}
.prdDetailBackBTN{
    background-color: rgba(0, 130, 189, 1);
    color:white;
}
.prdDetailBackBTN:hover{
    transition-duration:200ms;
    background-color: white;
    color:rgba(0, 130, 189, 1);
}
.prdDetailSaveBTN {
    background-color: darkgreen;
    color: white;
}
.prdDetailSaveBTN:hover {
    transition-duration: 200ms;
    background-color: white;
    color: darkgreen;
}
.prdDetailDeleteBTN {
    background-color: rgb(255, 0, 0);
    color: white;
}
.prdDetailDeleteBTN:hover {
    transition-duration: 200ms;
    background-color: white;
    color: rgb(255, 0, 0);
}

/*ADMİN ÜRÜN DETAY SAYFASI SON*/

/*ADMİN SİPARİŞLER SAYFASI*/

/*ADMİN SİPARİŞLER SAYFASI SON*/

/*ADMİN KULLANICI MESAJLARI SAYFASI*/

/*ADMİN KULLANICI MESAJLARI SAYFASI SON*/

/*ADMİN SİTE HAKKINDA SAYFASI*/

/*ADMİN SİTE HAKKINDA SAYFASI SON*/